@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white:hsl(0, 0%, 100%);
    --gray: hsl(212, 45%, 89%);
    --blue1: hsl(220, 15%, 55%);
    --blue2: hsl(218, 44%, 22%);
}

body{
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

section{  
    background-color:hsl(212, 45%, 89%); 
    width: 70%;
    height: 70vh;  
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 90px;
    box-shadow: rgba(0, 0, 0, 0.219) 0px 3px 8px;
}

.container{
    width: 250px;
    background-color: var(--white);   
    text-align: center;
    padding: 15px 15px 25px 15px;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 3px 8px;
}
img{
    width: 250px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.p1{
    font-weight: 700;
    color: var(--blue2);
    margin-bottom: 10px;
}
.p2{
    color: var(--blue1);
}
